<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jackmouse.blog.mapper.FriendLinkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jackmouse.blog.entity.FriendLink">
        <id column="id" property="id" />
        <result column="link_name" property="linkName" />
        <result column="link_avatar" property="linkAvatar" />
        <result column="link_address" property="linkAddress" />
        <result column="link_intro" property="linkIntro" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, link_name, link_avatar, link_address, link_intro, create_time
    </sql>

</mapper>
